@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.google{
    min-height: 100vh;
    width: 100%;    
}

.google-container{
    height: 45vh;
    /* background-color: lightblue; */
    display: flex;
    align-items: center;
    justify-content:flex-end;
    flex-direction: column;
}

.input-container{
    width: 40%;
    display: flex;
    align-items: center;
    padding: 7px;
    border-radius: 999px;
    border: 1px solid black;
    margin-top: 1rem;
    
}

.input-container .fas{
    color: lightgray;
    padding: 0 1rem;
}

.input-container input{
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
}

.bookmark-container{
   min-height: 50vh;
   /* background-color: lightcoral; */
   max-width: 50%;
   margin: auto;
   padding: 1rem;
   display: flex;
   flex-wrap: wrap; 
}
.bookmarkResult{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    
}
.bookmarkResult a{
    height: 60px;
    width: 60px;
    border-radius: 999px;
    border: none;
    outline: none;
}



.btn{
    height: 60px;
    width: 60px;
    border-radius: 999px;
    border: none;
    outline: none;
    cursor: pointer;
    
    
}
.btn i{
    font-size: 1.5rem;
}

.bookmark-add{
    position: absolute;
    bottom: 0.5rem;
    right: 1rem;
    z-index: 999;
    cursor: pointer;
    
}

.bookmark-add button{
    background: #45aaf2 !important;
}
.bookmark-add button i{
    font-size: 1.5rem;
    color: white;
}

.bookmark-form{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.67);
    display: none;
    
}
.bookmark-main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bookmark-form.show{
    display: block;
}

.bookmark-box{
    height: auto;
    width: 35%;
    background-color: white;
    border-radius: 10px;   

}
.bookmark-box h1{
    text-align: center;
    font-weight: 400;
    padding: 1rem;
}
.bookmark-box form{
    width: 100%;
    /* background: lightcoral;s */
    padding: 1rem;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-div{
    display: flex;
    flex-direction: column;
    /* background-color: lightcyan; */
    width: 100%;
    margin: 1rem 0;
}
.form-div input{
    padding: 0.6rem ;
    border-radius: 10px;
    border: none;
    outline: none;
    background: rgb(241, 241, 241);
}

.form-div small{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
}

.bookmark-box .addBtn{
    background-color: lightgray;
    padding: 10px 20px;
    border-radius: 20px;
    background: #45aaf2;
    border: none;
    outline: none;
    font-weight: 700;
    color: #fff;
    margin-top: 1rem;
    cursor: pointer;
    
}

.delete-container{
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}
.delete-container .fas{
    font-size: 2rem;
    color: #fff;
}

@media(max-width:788px){
    .input-container{
        width: 80%;   
    }
    .bookmark-container{
        max-width: 90%;
    }
    .bookmark-box{
        width: 80%;
    }
}